
.segmentStyle {
    margin-top: 15px;
    width:auto;
}

.segmentButtonStyle {
    font-size: 14px; /* Set the font size for smaller text */
    font-weight: bold;
    border-radius: 25px;
    width:100%;
}

.closeButtonStyle {


}




